@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background: linear-gradient(to right, #780DFF, #310CE8,#310CE8);
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

h1{
    text-align: center;
}

#equals{
    grid-row: span 2;
}

#calculadora{
    background-color: rgb(47, 55, 128);
    width: 10em;
    border-radius: 10px;
    padding: 1em 0.5em;
    margin: 0 auto;
}

#display{
    background-color:#5D64FF;
    margin: 0 auto;
    height: 4em;
    width: 9em;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 0.5em 0.25em; 
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-around;
    word-wrap: break-word;
    word-break: break-all;
   
}
#display > div{
    font-size: 1rem;
    font-weight: bold;
  
}

#botoes{
    display: grid;
    grid-template-columns: 3em 3em 3em;
    grid-template-rows: 3em 3em 3em 3em 3em 3em;
    justify-content: center;
    
}

button{
    background-color:#2B36FF;
    border:none;
    color:whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}


button:hover{
    background-color: rgb(34, 42, 194);
}

