@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color: #004280;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

h1{
    text-align: center;
}
#apagar {
    grid-column: span 2;
}
#equals{
    grid-row: span 2;
}

#calculadora{
    background-color: #2614CC;
    width: 10em;
    border-radius: 10px;
    padding: 5px 2.5px;
    margin: 0 auto;
}
#display{
    background-color:#265480;
    margin: 0 auto;
    height: 3em;
    width: 9em;
    text-align: right; 
    border-radius: 4px;
    margin-bottom: 10px;
}

#botoes{
    display: grid;
    grid-template-columns: 3em 3em 3em;
    justify-content: center;
    
}

button{
    background-color:#265480;
    border-radius: 5px;
    border: whitesmoke 0.25px solid;
    color:whitesmoke
}
